
@{
    ViewData["Title"] = "Add Menu";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <h2 class="well">Add Menu</h2>
    <div class="col-lg-12 well">
        <div class="row">
            <form  method="post">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            
                        </div>
                    </div>
                    

                </div>
            </form>
        </div>
    </div>
   

</div>

