@model ProjectSSMP.Models.MenuGroup



<<<<<<< HEAD
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel">Detials</h4>
    </div>
=======
>>>>>>> f72714fdfa0d8cad2da6eee2029bd97228f0f8ee

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">FriendsInfo</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenuName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenuName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MenuUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MenuUrl)
        </dd>
    
        
        
    </dl>
</div>
    


