@model ProjectSSMP.Models.Timesheet.TimeSheetInputModel
@{
    ViewData["Title"] = "ConfirmTimeSheet";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <h2 class="well">Confirm TimeSheet</h2>
    <div class="col-lg-12 well">
        <form asp-controller="TimeSheet" asp-action="ComfirmTimeSheet" method="post">
                        <input type="hidden" asp-for="TimeSheetNumber" name="TimeSheetNumber" id="TimeSheetNumber" />
                        <input type="hidden" asp-for="UserId" name="UserId" id="UserId" />
                        <input type="hidden" asp-for="FunctionId" name="FunctionId" id="FunctionId" />

                     <div class= "text-right" style="margin-right: 10px;">
                        <button type="submit" class="btn btn-primary">Submit</button> 
                    </div>
        </form>
    </div>
</div>