@model IEnumerable<ProjectSSMP.Models.Timesheet.TimeSheetInputModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<<<<<<< HEAD
<h2>Index</h2>
@foreach (var item in Model) {
    @Html.DisplayFor(modelItem => item.ProjectName) <br/>
    @Html.DisplayFor(modelItem => item.ProjectNumber) <br/>
    @Html.DisplayFor(modelItem => item.ProjectId) <br/>
    @Html.DisplayFor(modelItem => item.Note) <br/>
}
=======
>>>>>>> 17d39a0bf9f09b6e1efea143aa7461925f1e47a6

<div class="container">
    <h2 class="well">TimeShee</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card">

                <div class="card-block">
                    <h4 class="card-title">Tawshif Ahsan Khan</h4>
                    <div class="meta">
                        <a href="#">Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
    </div>

</div>
