@model IEnumerable<ProjectSSMP.Models.Home.ResultModel>
@{
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">

    @foreach(var item in model)
        {
            @item.TaskName
        }

    
</div>
