<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    @{
                        var userMenu = ViewBag.userMenu;
                        foreach (var data in userMenu)
                        {
                            <li>
                                <a href="@data.MenuUrl" class="@data.MenuIcon">@data.MenuName</a>
                            </li>


                        }
                    }




                </ul>
            </div>
            <!-- /gn-scroller -->



        </nav>



    </li>

    <li class="dropdown" style="float:right;">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" style="width: 310px;">
            <li>
                <a href="#">
                    <div>
                        <strong>John Smith</strong>
                        <span class="pull-right text-muted">
                            <em>Yesterday</em>
                        </span>
                    </div>
                    <div>Lorem </div>
                </a>
            </li>

        </ul>
    </li>
    
    <li>


        
                <a class=" gn-icon gn-icon-power" asp-controller="Security" asp-action="Logout"><span>logout</span></a>
        
        


    </li>

</ul>