

<div class="area"></div><nav class="main-menu">
    <ul>
        @{
            var userMenu = ViewBag.userMenu;
            foreach (var data in userMenu)
            {
                <li>
                    <a href="@data.MenuUrl" >
                        <i class="@data.MenuIcon"></i>
                        <span class="nav-text">
                            @data.MenuName
                            <br />
                        </span>
                    </a>
                </li>

            }

        }
        

    </ul>


    <ul class="logout">
        

        <li>

            <a asp-controller="Security" asp-action="Logout">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>
