@model SSMP.Models.ProjectManagement.CreateTaskInputModel



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Edit Task <span class="glyphicon glyphicon-chevron-right"></span>  @ViewData["naemtask"]</h4>
</div>



<div class="modal-body">
    <div class="row">
        <form asp-controller="ProjectManagement" asp-action="EditTask" method="post">
            <input type="hidden" asp-for="ProjectNumber" />
            <input type="hidden" asp-for="TaskId" />
            <div class="col-sm-8 form-group">
                <label>Task Name</label>
                <div class="form-group">
                    <input type="text" asp-for="TaskName" name="TaskName" id="TaskName" placeholder="Enter Task Name Here.." class="form-control">
                </div>
            </div>

            <div class="col-sm-10 form-group">
                <label>Estimated Start Date</label>
                <div class="form-group">
                    <div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy hh:ii" data-link-field="dtp_input1">
                        <input class="form-control" size="10" type="text" asp-for="TaskStart" name="TaskStart" id="TaskStart" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 form-group">
                <label>Estimated End Date</label>
                <div class="form-group">
                    <div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy " data-link-field="dtp_input1">
                        <input class="form-control" size="10" type="text" asp-for="TaskEnd" name="TaskEnd" id="TaskEnd" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

<script type="text/javascript" src="~/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="~/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
<script type="text/javascript">



    $('.form_datetime').datetimepicker({
        //language:  'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language: 'en',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>           